#component-list li{
    cursor: pointer;
}
#add-component-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
@media (min-width: 600px) {
    #add-component-form{
        flex-direction: row;
        align-items: center;
    }
}